form .actions {
  display: flex;
  justify-content: flex-end;
}

form label {
  display: block;
  float: left;
  min-width: 150px;
}

form .actions button {
  margin: 10px;
  height: 40px;
  min-width: 100px;
}
